/* * {
   border: 1px solid red;
}
*/

#wrapper{
	width: 1024px;
	margin: 0 auto;
}

h1 {
	width: 100%;
	font-family: sans-serif;
	font-size: 3em;
	text-align: center;
	display: table;   
    background: white;
    opacity: 0.99;
    border:solid 10px white;
}

.container{
	width: 990px;
	margin: 0 auto;
}

.container div{
	background-color: ligntblue;
	float: left;
	padding: 10px;
	margin: 10px ;
	width: 990px;
}
.imagen-uno{
width: 100%;
}

.imagen-dos{
	float: left;
	width: 40%;
	display: inline-block;
}

.puno{
	float: right;
	width: 57%;
	display: inline-block;
	display: table;   
    background: white;
    opacity: 0.99;
    border:solid 10px white;

}

.imagen-tres{
	float: right;
	width: 40%;
	display: inline-block;
}

.pdos{
	float: left;
	width: 57%;
	display: inline-block;
	display: table;   
    background: white;
    opacity: 0.99;
    border:solid 10px white;
}
